html {
  font-family: 'Rubik', sans-serif;
}

body {
  margin: 0;
  background-color: white;
  color: $charcoal;

  h2 {
    font-size: 3em;

    @media (min-width: $desktop-large) {
      font-size: 4em;
    }
  }

  .cta-button {
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    padding: 20px;
    background-color: $blue;
    color: white;
    font-size: 2em;
    margin: 12px auto;
  }

}

.flex-container {
  @media (min-width: $desktop-small) {
    display: flex;
  }
}

.panel {
  min-height: 450px;
  padding: 12px;

  @media (min-width: $tablet) {
    padding: 60px 24px;
  }
}

