.hero {
  background-color: white;
}

.flex-container {
  @media (min-width: $desktop-small) {
    display: flex;
  }
}

.max-width-container {
  margin: 0 auto;
  max-width: $desktop-small;

  @media (min-width: $desktop-large) {
    max-width: $desktop-large;
  }
}

.hero-tile {
  margin: 0 12px;
}

.hero-image-container {
}

.hero-title-container {
}

h1.title {
  color: $charcoal;
  font-size: 1.5em;
  text-align: center;

  @media (min-width: $phone) {
    font-size: 2em;
  }

  @media (min-width: $tablet) {
    font-size: 3em;
  }

  @media (min-width: $desktop-small) {
    text-align: left;
    font-size: 2em;
  }

  @media (min-width: $desktop-large) {
    font-size: 3em;
  }
}

.cta {
  text-decoration: none;
  border-radius: 5px;
  padding: 20px;
  background-color: #62bebc;
  color: white;
  font-size: 1.4em;
}

.heading-large {
  font-size: 2em;
}

.hero-image {
  width: 100%;
}

.lowercase {
  font-size: 1.4em;
  line-height: 0.6;
  font-weight: 500;
}

