.hero {
  background-color: white;
  text-align: center;

  @media (min-width: $desktop-small) {
    text-align: left;
    overflow: hidden;
  }

  .flex-container {
    align-items: flex-end;
  }
}

.max-width-container {
  margin: 0 auto;
  max-width: $desktop-small;

  @media (min-width: $desktop-large) {
    max-width: $desktop-large;
  }
}

h1.title {
  color: $charcoal;
  font-size: 1.5em;

  @media (min-width: $phone) {
    font-size: 2em;
  }

  @media (min-width: $tablet) {
    font-size: 3em;
  }

  @media (min-width: $desktop-small) {
    text-align: left;
  }

  @media (min-width: $desktop-large) {
    font-size: 4em;
  }
}

.cta {
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  padding: 20px;
  background-color: #62bebc;
  color: white;
  font-size: 2em;
  margin: 12px auto;
}

.heading-large {
  font-size: 2em;
}

.hero-image {
  width: 100%;
  margin: 24px 0;

  @media (min-width: $desktop-small) {
    text-align: left;
    width: 130%;
    margin: 0;
    margin-left: -10%;
  }
}

.lowercase {
  font-size: 1.4em;
  line-height: 0.6;
  font-weight: 500;
}

